/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
*.gem
.ruby-gemset
.ruby-version


#Added by cargo
#
#already existing elements are commented out

/target
**/*.rs.bk
Cargo.lock
